---
import slugify from '../scripts/slugify';

const { event } = Astro.props
---

<section class="h-[400px] w-80 relative">
    <a 
        class="w-full h-full absolute group bg-black text-white border-8 border-black active:border-kitch-red sm:hover:border-kitch-red"
        href={`/events/${slugify(event.name)}`}
    >
        <img src="/textures/loading.gif" class="absolute top-0 left-0 h-full w-full object-cover">  
        <div class="absolute top-60 left-0 h-full w-full p-5 flex flex-col gap-2">
            <h2 class="font-body text-2xl">
                {event.name}
            </h2>
            <div class="font-display font-thin text-base text-left flex flex-row gap-2">
                <ul>
                    <li>date:</li>
                    <li>type:</li>
                    <li>place:</li>
                </ul>
                <ul>
                    <li>{event.date}</li>
                    <li>{event.type}</li>
                    <li>{event.place}</li>
                </ul>
            </div>
        </div>
    </a>
</section>